.nav-buttons-layout {
    margin: 10px;
}
.nav-button {
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }